@charset "UTF-8";
/* CSS Document */

h1 {
	align-content: center;
	font-size: 60px;
	text-align: center;	
}
h3 {
	align-content:center;
	font-size: 25px;
	left: 575px;
	top: 80px;
	text-align: center;
	
	}
h4 {
	align-content: center;
	font-size: 13px;
	text-align: center;
}

h5 {
	align-content: center;
	left:625px;
	font-size: 13px;
	top:750px;
	text-align: center;
}

h6 {
	align-content:center;
	left:620px;
	font-size:13px;
	top:1760px;
	text-align: center;
}
	
	

body{
	font-family: Basic title font, "Trebuchet MS", Arial, sans-serif;
	/*text-align: center;*/		
}

#illustrations {display: inline-block;
				position: absolute;
				top:180px;
				left:220px;
				list-style-type: none;
}

#illustrations2{
	display:inline-block;
	position:absolute;
	left:220px;
	top:440px;
	list-style-type: none;
}

.illustration{
	display: inline-block;
	list-style-type: none;
}

.illustration img {
	width: 100%;
}
	
#graphic{
	display:inline-block;
	position:absolute;
	top:770px;
	left:355px;
	list-style-type:none;
}

#graphic2{
	display:inline-block;
	position:absolute;
	left:345px;
	top:1050px;
	list-style-type:none;
	
}

#graphic3{
	display:inline-block;
	position:absolute;
	left:355px;
	top:1400px;
	list-style-type:none;
}

.graphic {
	display: inline-block;
	list-style-type: none;
}

.graphic img {
	width: 170%;
	padding-left: 15em;
	
}

#filmposters{
	display:inline-block;
	position:absolute;
	left:305px;
	top:1790px;
	list-style-type:none;
}
.filmposter  {
	display: inline-block;
	list-style-type: none;
	
		
}

.filmposter img {
	width: 100%;
	padding-left: 10em;
}

	
.navigation {
	

	list-style-type: none;
	width: 22%;
	text-align: center;

	
}

li{
	padding: 5px;
	float: left;
	text-align:center;
	width: 30%;
	/*display: inline-block;*/
	vertical-align: top;
	
}

a {
	display:inline-block;
	color: black;
	text-decoration: none;
	padding-left: 26em;
	
}

@media screen and (max-width: 600px) {.navigation {
	list-style-type: none;
	background color: #FFFFFF;
	}
	
	}
	
	
	.navigation a {
		width: 100%;
		display: block;
		text-decoration: none;
	}
	
	.illustration img {
		width:100%;
	}

.graphic img {
	width: 170%;
	
}
}